body{
    background: #ddd;
}


.main_menu{
    width: 50%;
    padding: 4px;
    background: #02A6FD;
    margin: 50px auto;
}

.main_nav{ 
    width: 100%;
    background: #0082C8;
    margin: 2px auto;
    padding: 10px 0px;
    position: relative;
    box-shadow: 0 0 3px #011C69;
}
nav ul li{
    display: inline-flex;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 30px; 
    font-weight: 600;
}

ul li a:hover{
    color: tomato;    
}

.dropdown_content{
    background: #0082C8;    
    display: none;
    position: absolute;
    top: 50px;
    left: 120px; 
    box-shadow: 0 0 2px #000;    
    border-radius: 10px;
}

.dropdown_content a{
    display: block;
}
.active{
    color: #F7CF00;
    background: #024E99;
    border-radius: 5px;
}

.dropdown_content a:hover{
    background: #024E99;
    color: #F7CF00;
    border-top: 1px solid #011C69;
}

.dropdown:hover .dropdown_content{
    display: block;
}
